################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/KarateWebApp/.vs/KarateWebApp/FileContentIndex/2e4131af-2218-4634-a75b-9c0eee2b8e56.vsidx
