################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/KarateWebApp/.vs/KarateWebApp/FileContentIndex/2e4131af-2218-4634-a75b-9c0eee2b8e56.vsidx
/KarateWebApp/.vs/KarateWebApp/FileContentIndex/01b041f9-f800-492b-9968-2fbe329f7e0f.vsidx
/KarateWebApp/.vs/KarateWebApp/FileContentIndex/3ed0aedb-fdac-4aaa-af6c-e117d554596c.vsidx
